<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <form [formGroup] = "bookingForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" formControlName = "name" id="name" placeholder="Enter your full name">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" formControlName = "date">
            </div>
            <div class="form-group">
                <label for="startTime">Start Time</label>
                <input type="time" class="form-control" id="startTime" formControlName = "startTime">
            </div>
            <div class="form-group">
                <label for="endTime">End Time</label>
                <input type="time" class="form-control" id="endTime" formControlName = "endTime">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
